# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Keep Unix lf line endings for shell scripts.
*.sh text eol=lf

# Mark images as binary files that should not be modified.
*.png binary